<<<<<<< HEAD
li:hover {
    color:red
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
 li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
  }

  strong{
    display: block;
    padding: 10px;
    background-color: #dddddd;
  }

  footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
=======
li:hover {
    color:red
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
 li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
  }

  strong{
    display: block;
    padding: 10px;
    background-color: #dddddd;
  }

  footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
>>>>>>> 3272fbb4d7b41423341090bc8762f4a4583f7014
}